<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>百度新闻</title>
<meta name="description" content="">
<meta name="keywords" content="百度新闻">
<link href="bootstrap/dist/css/normalize.css" rel="stylesheet">
<link href="stylesheets/index.css" rel="stylesheet">
</head>
<body>
<div class="news">
  <div class="nav-top clearFix">
    <a href="javascript:"></a>
    <a href="javascript:"></a>
    <a href="javascript:"></a>
    <a href="javascript:"></a>
  </div>
</div>
  <div class="nav">
    <ul class="nav-menus clearFix">
      <li><a href="javascript:" class="on">推荐</a></li>
      <li><a href="javascript:">百家</a></li>
      <li><a href="javascript:">本地</a></li>
      <li><a href="javascript:">娱乐</a></li>
      <li><a href="javascript:">社会</a></li>
      <li><a href="javascript:">军事</a></li>
      <li><a href="javascript:">女人</a></li>
      <li><a href="javascript:">搞笑</a></li>
      <li><a href="javascript:">互联网</a></li>
      <li><a href="javascript:">科技</a></li>
    </ul>
  </div>
  <div class="section">
    <div class="show tui-jian section-box clearFix">
      <!-- <div class="img-box">
        <img src="images/1.jpg">
      </div>
      <div class="section-text">122222213111</div>
      <div class="section-time"><span>3小时前</span></div> -->
    </div>
    <div class="bai-jia section-box clearFix">
    </div>
     <div class="ben-di section-box clearFix">

    </div>
     <div class="yu-le section-box clearFix">

    </div>
     <div class="she-hui section-box clearFix">

    </div>
     <div class="jun-shi section-box clearFix">

    </div>
     <div class="n-ren section-box clearFix">

    </div>
     <div class="gao-xiao section-box clearFix">

    </div>
    <div class="hu-lian section-box clearFix">
    
    </div>
     <div class="ke-ji section-box clearFix">
      
    </div>
  </div>
<script src="jquery/dist/jquery.js"></script>
<script src='javascripts/index.js'></script>
</body>
</html>